<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta info -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fanwood+Text|Shrikhand" type="text/css" />
    <!-- material icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css" />
    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/app.js"></script>

    <title>LyteByte Menu</title>
  </head>

  <body>
    <!--  main navigation menu -->
    <nav id = "sidebar" class="active">
      <div class = "sidebar-header"><i class="material-icons">account_circle</i></div>
      <a href="#">Home</a>
      <a href="#">Account</a>
      <a href="#" type="button" data-toggle="modal" data-target="#modalCart">Cart</a>
      <a href="/order/id">Orders</a>
      <a href="#">Reviews</a>
    </nav>

    <!-- main content -->
    <main id="content">
      <!-- toggle for navigation menu -->
      <span type="button" id="sidebarCollapse"><i class="material-icons">dehaze</i></span>

      <form id="cart-container">
        <div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <!--Header-->
              <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="exampleModalLabel">Shopping Cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <!--Body-->
              <div class="modal-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Product name</th>
                      <th scope="col">Price</th>
                      <th scope="col">Qty</th>
                      <th scope="col">Total</th>
                      <th scope="col">Delete</th>
                    </tr>
                  </thead>
                  <!-- using jQuery Event listener to consolidate cart item -->
                  <tbody class="cartItems"></tbody>
                </table>
                <div class="d-flex justify-content-end">
                  <h5>Total: $<span class="price total text-success"></span></h5>
                </div>
              </div>
              <!--Footer-->
              <div class="modal-footer border-top-0 d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="submitOrder">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </form>

      <h1>Menu</h1>
      <table class="table">
        <thread>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Category</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col"></th>
          </tr>
        </thread>
        <tbody>
        <% for (const dish of dishes) {%>
          <tr>
            <td><%= dish.id %></td>
            <td><%= dish.category %></td>
            <td><%= dish.name %></td>
            <td><%= dish.description %></td>
            <td>$<%= dish.price %></td>
            <td><input type="number" name="quantity" value="1" min="1" max="20" step="1" /></td>
            <td>
              <!-- link the data with the button -->
              <button
                type="sumbit"
                class="btn-primary addItemToCart"
                data-id="<%= dish.id %>"
                data-name="<%= dish.name %>"
                data-price="<%= dish.price %>"
              >
                Add
              </button>
            </td>
          </tr>
        <% } %>
        </tbody>
      </table>

    </main>

  </body>
</html>
